.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 680px;
  position: relative;
  background: #222;
  overflow: hidden;
  font-family: 'Overpass Mono', monospace;
  font-weight: 300;
}

.App-header h1 {
  font-weight: 300;
  color: #fff;
  padding-top: 350px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.App-header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url('../public/header.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.header-info {
  font-size: 22px;
  height: 150px;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
}

.App-intro {
  font-size: large;
}

.mobile-nav {
  position: fixed;
  z-index: 1001;
  width: 100%;
  margin: 0 auto;
}

.nav {
  height: 3em;
  background-color: white;
  font-size: 1.5em;
  padding: .75em;
}

.navbar-title {
  font-family: 'Raleway', sans-serif;
  padding: 5px 0 0 120px;
  float: left;
  height: 50px;
  font-size: 24px;
  line-height: 20px;
}

.title-color {
  display: inline;
  color: #333;
}

.navbar-right {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  margin-right: 100px !important;
  margin-top: 6px;
}

.navbar-logo {
  width: 35px;
  margin-right: 5px;
}

.App-intro {
  padding: 100px;
  background-color: #fff;
  height: 1300px;
  font-family: 'Overpass Mono', monospace;
  font-weight: 300;
  position: relative;
  overflow: hidden;
}

.speaker-section {
  padding-top: 100px;
}

.App-intro::before {
  content: "";
  display: block;
  width: 120%;
  height: 500px;
  position: absolute;
  left: -80px;
  margin-top: 500px;
  background: #648880;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}

.speaker-image {
  width: 650px;
  padding-top: 20px;
}

.App-location {
  background-color: #fff;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
}

.App-map {
  height: 600px;
  margin-top: 50px;
  background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=580+Portola+Plaza,+Los+Angeles,+CA+90095&zoom=14&scale=2&size=600x300&maptype=roadmap&key=AIzaSyD4Y3RQdoOiR8zTleTRpO95s1ullkdIgfo&format=png&visual_refresh=true&markers=size:small%7Ccolor:0xff0000%7Clabel:%7C580+Portola+Plaza,+Los+Angeles,+CA+90095);
  background-repeat: no-repeat;
  background-position: 0px;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.color-layer {
  background-color: rgba(255,192,203, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: 'Roboto','sans-serif';
  margin: 10px;
  /* Hide the control initially, to prevent it from appearing
     before the map loads. */
  display: none;
}
/* Display the control once it is inside the map. */
#map .map-control { display: block; }

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.App-footer {
  height: 550px;
  background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  color: white;
  font-family: 'Overpass Mono', monospace;
}

.more-info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  color: black;
}

.host {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}

.acmw-footer {
  font-size: 20px;
}

.supervisor {
  padding-top: 50px;
}

.contact-info {
}

.fa-copyright {
  min-width: 10px;
}

.fa {
  margin: 50px 5px;
  width: 50px;
  color: white;
}

a .fa:hover {
  color: #118082;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 20px; 
}

a {
  color: #118082 !important;
}

a:hover {
  text-decoration: none !important;
}

.navbar-right a:hover {
  text-decoration: none !important;
  background-image: linear-gradient(to right, green 75%, transparent 75%);
  background-position: 0 1.24em;
  background-repeat: repeat-x;
  background-size: 8px 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
